@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbarHide::-webkit-scrollbar {
  display: none;
}

.active {
  color: #000000; /* Active text color */

  /* Adjust underline position */
  font-weight: bold; /* Make the active item bold */
  transform: scale(1.4); /* Slightly enlarge the active item */
  transition: color 0.3s ease, text-decoration 0.3s ease, text-underline-offset 0.3s ease, transform 0.3s ease;
}


.bounce {
  animation: bounceAnimation 5s ease-in-out infinite;
}



@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0); /* Original position */
  }
  50% {
    transform: translateY(-70px); /* Move up 20px */
  }
}

.flipit{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}


.container-right {
    animation: slide-in-right 0.5s ease-out;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 400px;
}

@keyframes slide-in-right {
    from {
        transform: translateX(-200%);   
    }
    to {
        transform: translateX(0);  
    }
}


.container-left {
    animation: slide-in-left 0.5s ease-out;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 400px;
}

@keyframes slide-in-left {
    from {
        transform: translateX(200%);   
    }
    to {
        transform: translateX(0);  
    }
}






/* about right */

.about-container {
    animation: fade-out 0.1s linear;
    animation-timeline: view();
    animation-range-start: 600px;
    animation-range-end: cover;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}



.exp-container {
    animation: fade-in 0.1s linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 600px;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}



/* Disable text and element selection */
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard */
}








