@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contactInput {
    @apply w-full text-base text-white placeholder:text-textLight border border-b-[1px] border-transparent border-b-textGreen py-3 px-2 outline-none focus-within:border-[1px] focus-within:border-textGreen duration-100 bg-zinc-800;
  }
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}

.active {
  color: #000000; /* Active text color */

  /* Adjust underline position */
  font-weight: bold; /* Make the active item bold */
  transform: scale(1.4); /* Slightly enlarge the active item */
  transition: color 0.3s ease, text-decoration 0.3s ease, text-underline-offset 0.3s ease, transform 0.3s ease;
}


.bounce {
  animation: bounceAnimation 5s ease-in-out infinite;
}



@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0); /* Original position */
  }
  50% {
    transform: translateY(-70px); /* Move up 20px */
  }
}

.flipit{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}






